name: CI
on:
  push:
    tags:
    - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # Required to build changeleg
    - name: Unshallow
      run: git fetch --prune --unshallow
    # Setup go
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.x
    # Runs the goreleaser
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: latest
        args: release --rm-dist
        key: ${{ secrets.YOUR_PRIVATE_KEY }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}